<div class="containter">
    <button 
    (click)="addTodo()"
    class="add-todo-btn"
    mat-raised-button 
    color="primary"
    >Add Todo</button>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf=""!loading>
    <mat-card *ngFor="let todo of todos">
        <P [ngClass]="{complete:todo.status =='done'}">{{todo.title}}</P>
        <p>{{todo.description}}</p>
        <button (click)="markAsComplete(todo._id)" mat-stroked-button >Mark as complete</button>
    </mat-card>
</ng-container>
